<a href="https://colab.research.google.com/github/simofleanta/Covid/blob/master/py_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex1

In [ ]:
# Given the string:
name = 'django'
# Use indexing to print out the following:
# 'd'

In [ ]:
print(name[0])
print(name[-1])
print(name[0:4])
print(name[1:4])
print(name[4:6])
print(name[3:6])

d
o
djan
jan
go
ngo

Reverse index

In [ ]:
print(name[-5:-4])
print(name[-6:-5])
print(name[-6:-4])
print(name[-6:-3])
print(name[-6:-2])
print(name[-6:-1])
print(name[-3:-1])
print(name[-2:-1])
print(name[-4:-1])

j
d
dj
dja
djan
djang
ng
g
ang

Ex2

In [ ]:
# Given this nested list:
nested_lst= [3, 7, [1, 4, 'hello']]
# Reassign "hello" to be "goodbye"

In [ ]:
nested_lst[2][2]='goodbye'

In [ ]:
nested_lst

[3, 7, [1, 4, 'goodbye']]

In [ ]:
#list2 with item 2 and ='goodbye'

Ex3

In [ ]:
# Join all list's elements with: " + "
lst = ["Paris", "London", "Madrid", "Bucharest"]

In [ ]:
lst=["Paris" + "London" + "Madrid" + "Bucharest"]

In [ ]:
lst

['ParisLondonMadridBucharest']

Ex4

In [ ]:
# Join the tuple's elements so that you get a proper email address.
values = ('mark.hoggins', 'email.com')

In [ ]:
values=('mark.hoggins' + 'email.com')

In [ ]:
values

'mark.hogginsemail.com'

Ex5

In [ ]:
# Join the sentences in the list so that it looks like a proper poem
poem_lst = ['''Not enjoyment, and not sorrow,
            Is our destined end or way;
            But to act, that each tomorrow,
            Find us farther than today.''']

In [ ]:
poem_lst

['Not enjoyment, and not sorrow,\n            Is our destined end or way;\n            But to act, that each tomorrow,\n            Find us farther than today.']

Ex 6

In [ ]:
# Exercise 6
###############

# Using keys and indexing, grab the 'hello' from the following dictionaries:
d1 = {'simple_key': 'hello'}

d2 = {'k1': {'k2': 'hello'}}

d3 = {'k1': [{'nest_key': ['this is deep', ['hello']]}]}

In [ ]:
d1.get("simple_key")

'hello'

In [ ]:
d2['k1']['k2']

'hello'

In [ ]:
d3 = {'k1': [{'nest_key': ['this is deep', ['hello']]}]}
d3['k1'][0]

{'nest_key': ['this is deep', ['hello']]}

In [ ]:
d3['k1'][0]['nest_key'][1]

['hello']

Ex7

In [ ]:
# Try to look for key: "son's age" and if nothing comes up, make the .get() to return "2" as default.
d4 = {"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

In [ ]:
d4.get(2)

In [ ]:
d4

{"son's eye color": 'green',
 "son's height": 32,
 "son's name": 'Lucas',
 "son's weight": 25}

In [ ]:
print (d4.get(2))

None

EX8

In [ ]:
# From below list create a new list with unique elements:
numbers = [1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3]

In [ ]:
numbers #remove duplicates

[1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3]

In [ ]:
mylist = list(dict.fromkeys(numbers))

In [ ]:
mylist

[1, 2, 3]

Ex9

In [ ]:
# You are given two variables:
age = 4
name = "George"

# Use print formatting to print the following string: #de ce nu-mi zici ca vrei placeholder?
"Hello my dog's name is George and he is 4 years old"

In [ ]:
age = 4
txt="Hello my dog's name is George and he is {} years old"
print(txt.format(age))

Hello my dog's name is George and he is 4 years old

In [58]:
name="George"
txt = "Hello my dog's name is {} and he is 4 years old"
print(txt.format(name))

Hello my dog's name is George and he is 4 years old

Ex 10

In [59]:
# Create a set from a list and remove 'name' if it is present in the set
numbers2 = [34, 123, 4, 34, 'name', 54]
numbers2.remove("name")

In [60]:
numbers2

[34, 123, 4, 34, 54]

In [63]:
numbers2=set([34, 123, 4, 34, 54])

In [64]:
numbers2

{4, 34, 54, 123}

Ex11

In [66]:
# find two different ways to remove the string from the list
# print the list in order
# print removed element in uppercase :(
values2 = [34, 123, 4, 34, 'name', 54]

In [79]:
values2 = [34, 123, 4, 34, 'name', 54]
values2.remove("name") #version1 of name removal

In [84]:
values2

[34, 123, 4, 34, 54]

In [85]:
values2.sort()

In [86]:
values2

[4, 34, 34, 54, 123]

In [111]:
# find two different ways to remove the string from the list
values2 = [34, 123, 4, 34, 'name', 54]
values2.remove("name") #version2 of name removal

In [112]:
print(values2.pop(4))

54

In [113]:
values2.sort()

Ex12

In [116]:

# create a list from a string
text = 'comprehension'

print(text.split())

['comprehension']

In [123]:
for item in text:
    texts = text.split(',')

In [125]:
print(type(texts))

<class 'list'>

In [126]:
texts

['comprehension']

Ex 13

In [ ]:
# Letâ€™s say I give you a list saved in a variable:
numbers3 = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
# Write one line of Python that takes this list and makes a new list that has only the even elements of this list in it.

In [129]:
numbers3 = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [132]:
numbers4 = list(filter(lambda x: (x % 2 == 0), numbers3))

In [134]:
numbers4

[4, 16, 36, 64, 100]

Ex14

In [ ]:
# Create a dictionary with each data type from Python
# name the dictionary: data_types
# as key use the name of data type
# as value use the correct data type format

data_types = {'string': 'this is a text'}

# Bonus: on values generate random elements

In [135]:
data_types={'string': 'Hello World',
            'Int':[2,4,7,9],
            'Bool':True}

In [136]:
data_types

{'Bool': True, 'Int': [2, 4, 7, 9], 'string': 'Hello World'}